.item {
    border: solid .1rem red;
    background-color: white;
    background-image: linear-gradient(to right, rgb(247, 188, 188), white 8%);
    padding: 1rem;
    /* box-shadow: 0px 10px 10px 0 rgb(112, 110, 110); */
}

.title {
    color: red;
}

.time {
    font-weight: bold;
}

.section {
    margin-top: 2rem;
}