
@supports not (display: grid) {
	.grid_container div { 
        float: left; 
    }
}

@supports (display: grid) {
    /* Mobile First */
    body {
        font-size: 1.4rem;
    }

    .grid_container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        padding: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        background-color: rgb(153, 152, 152);  
    }

    .grid_container div {
        border: .3rem solid red;
    }
    
    @media (min-width: 600px) {
        body {
            font-size: 1.2rem;
        }

        .grid_container {
            grid-template-columns: 1fr 1fr;
        }
    }

    @media (min-width: 900px) {
        body {
            font-size: 1rem;
        }

        .grid_container {
            grid-template-columns: 1fr 1fr 1fr;
        }

        .grid_container div {
            border: .2rem solid red;
        }
    }
    
    @media (min-width: 1200px) {
        body {
            font-size: .9rem;
        }
        
        .grid_container {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        .grid_container div {
            border: .1rem solid red;
        }
    }
}