#flex1 {
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  
  .flex_container {
    display: flex;
    background-color: red;
    height: 5rem;
    padding: 1rem;
  }

  .addr {
      color: white;
      font-size: 1rem;
  }