  #flex1 {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .flex_container {
    display: flex;
    background-color: red;
    height: 5rem;
    padding: 2rem;
  }
  
  #header {
    color: white;
  }

  #time {
    color: white;
    font-size: 1rem;
  }